@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b5i641');
  src:  url('fonts/icomoon.eot?b5i641#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b5i641') format('truetype'),
    url('fonts/icomoon.woff?b5i641') format('woff'),
    url('fonts/icomoon.svg?b5i641#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e91f";
}
.icon-shield-check:before {
  content: "\e919";
}
.icon-rocket:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e91b";
}
.icon-telegram:before {
  content: "\e91d";
}
.icon-twitter:before {
  content: "\e91e";
}
.icon-youtube:before {
  content: "\e920";
}
.icon-left-quote:before {
  content: "\e91c";
}
.icon-enter:before {
  content: "\e909";
}
.icon-apps:before {
  content: "\e903";
}
.icon-briefcase:before {
  content: "\e902";
}
.icon-stars:before {
  content: "\e91a";
}
.icon-global:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e908";
}
.icon-diamond:before {
  content: "\e907";
}
.icon-share:before {
  content: "\e918";
}
.icon-printer:before {
  content: "\e916";
}
.icon-phone-call:before {
  content: "\e914";
}
.icon-menu:before {
  content: "\e913";
}
.icon-map:before {
  content: "\e912";
}
.icon-file-description:before {
  content: "\e90c";
}
.icon-location:before {
  content: "\e911";
}
.icon-help-circle:before {
  content: "\e90e";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-copy:before {
  content: "\e905";
}
.icon-history:before {
  content: "\e90f";
}
.icon-date:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e921";
}
.icon-arrow-right:before {
  content: "\e900";
}
